.RoomPic{
  
  margin: 0% 15%;
  display: flex;
}
.RoomPic img{
  margin: auto;
}
.RecomendedRoomPic{
  display: flex;
  flex-wrap: wrap;
  margin: 2% 10%;
  align-items: center;
  display: flex;
}
.RecomendedRoomPic img{
  margin: auto;
  border: 1px solid grey;
  width: 100%;
  height: 100%;
}
.Recomended{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.Recomended h2{
  width: 100%;
}

.itemInfo{
  width: 80%;
}
.hi{
  width: 50%;
  margin: auto;
}
.IdeasBox{
  width: 100%;
  height: auto;
}
.ShopBox{
  width: 100%;
  height: auto;
}