.ProductBox{
  border: solid 1px lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d1;
  border-radius: 15px;
  margin: 0% auto;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  padding: 2% 2%;
  object-fit: contain;
}
.RoomPic{
  margin: 1% 1%;
  display: flex;
}
.RoomPic img{
  margin: 0% auto;
  max-width: 100%;
}
.RecomendedRoomPic{
  display: flex;
  flex-wrap: wrap;
  margin: 2% 10%;
  align-items: center;
  display: flex;
}
.RecomendedRoomPic img{
  margin: auto;
  border: 1px solid grey;
  width: 100%;
  height: 100%;
}
.Recomended{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.Recomended h2{
  width: 100%;
}

.itemInfo{
  width: 80%;
}
.RecomendedProduct{
  border: solid 1px lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d1;
  border-radius: 15px;
  width: 45%;
  margin: 1% auto;
}
.IdeasBox{
  margin: 0% auto;
  width: 100%;
  height: auto;
}
.ShopBox{
  margin: 0% 5%;
  width: auto;
  height: auto;
  object-fit: contain;
  overflow: hidden;
}
