.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0%;
}
.home a:link, a:visited{
  border-radius: 15px;
  color: green;
  background-color: #AFAFAA;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}
